APP_NAME=Rishikesh Bastakoti Personal Agent
APP_ENV=development

GEMINI_API_KEY=
GROQ_API_KEY=

AUTH_PROVIDER=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=

DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
